// foundation
@import
  "global",
  "settings",
  "foundation";

// main styles
@import
  "functions",
  "legacy",
  "mixins",
  "colors",
  "base",
  "typography",
  "slick";

//tims front-end magie kijk en huiver :)
body{ background-color: rgba($emerald, .25); font-family: $main-font-family; font-weight: $font-medium; }

//notificationCenter
#notificationCenter{ height: 100%; width: calc(50% - 120px); right: 120px; top: 0px; position: absolute;
  #leftBar{ overflow: hidden; position: absolute; left: 0px; top: 0px; height: 100%; width: calc(100% - 132px); background: yellow; padding-top: 60px;
    .row{ height: 60px; margin: 10px 0px; background: fuchsia; float: right;
      .modal{ margin: 0px 20px 0px 20px; height: 100%; width: auto; border-radius: 30px; padding: 0px 30px; position: relative; display: inline-block; float: right;
        p{ display: block; line-height: 58px; }
        &.black{ background-color: $dark; color: $light;
          &.needsAfter{ &:after{ background-color: $dark; } }
        }
        &.white{ background-color: $light; color: $dark;
          &.needsAfter{ &:after{ background-color: $light; } }
        }
        &.needsAfter{
          &:after{ top: 28px; content: ''; display: block; width: 32px; right: -20px; position: absolute; height: 4px; border-radius: 2px; }
        }
      }

    }
  }
  #rightBar{ position: absolute; right: 0px; top: 0px; height: 100%; width: 132px; z-index: 2; padding-top: 44px;
  .logoHolder{ -webkit-box-shadow: 0 0 1px color(emerald); width: 80px; height: 80px; border-radius: 50px; background: $emerald url(../img/icon.svg) no-repeat center center; margin: 16px; }
    .spinner{ animation: rotator $duration linear infinite; margin-top: -10px; margin-left: -10px; position: relative; width: 100px; height: 100px;
      .path{ stroke-dasharray: $offset; stroke-dashoffset: 0; transform-origin: center; stroke: $light; animation: dash $duration ease-in-out infinite,rotator $duration*2 infinite; stroke-width: 0;
        &.active{ stroke-width: 3; }
      }
    }
  }
}

//maximize epicness
@keyframes rotator{
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}

@keyframes dash {
 0%{ stroke-dashoffset: $offset/2; transform:rotate(0deg); }
 25%{ stroke-dashoffset: $offset/4; transform:rotate(135deg); }
 50%{ stroke-dashoffset: $offset; transform:rotate(360deg); }
 75%{ stroke-dashoffset: $offset/3; transform:rotate(495deg); }
 100%{ stroke-dashoffset: $offset/2; transform:rotate(720deg); }
}
