<section id="home">
  <!-- notification center -->
  <div id="notificationCenter">
    <div id="leftBar" ng-class="{'withMicrofone': microfonePopped, 'karaokeMode': karaokeMode}">
      <notification ng-repeat="(key, item) in notifications | limitTo:3" notification="{{item.type}}" item="item" class="notification-{{key}}"></notification>
    </div>
    <div id="rightBar">
      <div class="logoHolder" ng-class="{'active': microfonePopped, 'spinning': spinning}" >
        <svg class="spinner1" width="132px" height="132px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>
  </div>

  <!-- karaoketakeover -->
  <div id="introTakeOver" ng-class="{'hideIt': !showIntro}">
    <div id="rightBar">
      <div class="logoHolder" ng-class="{'active': spinner}" >
        <svg class="spinner1" width="132px" height="132px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>
    <div class="step01">
      <div class="logo"></div>
    </div>
  </div>

  <!-- karaoketakeover -->
  <div id="karaokeTakeOver" ng-class="{'karaokeMode': karaokeMode}">
    <div id="rightBar">
      <div class="logoHolder" ng-class="{'active': spinner}" >
        <svg class="spinner1" width="132px" height="132px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>
    <div class="step01">
      <div id="userProfile">
        <div class="row">
          <div class="profile" style="background-image: url({{player.avatar}});"></div><p>{{player.name}} is singing {{nowPlaying[9].track.track_name}} by {{nowPlaying[9].track.artist_name}}</p>
        </div>
      </div>
      <div class="logo"></div>
    </div>
    <div class="song">
      <div class="maximizer">
        <ul class="lyrics">
          <li ng-repeat="line in lyriclines track by $index" class="active">{{line}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
