<div class="row" ng-show="notification=='notification'">
  <div class="modal black needsAfter" ng-controller="notifactionDirectiveController as notificationDirCtrl">
    <p>{{item.text}}</p>
  </div>
</div>

<div class="row" ng-show="notification=='userScore'">
   <div class="modal black hasProfile">
     <div class="profile" style="background-image: url({{item.profilepicture}});"></div><p>{{item.total}} total</p>
   </div>
   <div class="modal white needsAfter">profilepicture
     <p>{{item.score}} points</p>
   </div>
 </div>
